<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .title{
            width: 200px;
        }

        .content{
            width: 400px;
            height: 200px;
        }

        .more_info{
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <form action="/free/post" method="post">
        <p>Title</p>
        <input class="title" type="text" name="title" placeholder="Enter title">
        <p>content</p>
        <input class="content" type="text" name="content" placeholder="Enter content">
        <input class="time" type="hidden" name="timestamp" id="timestamp" value=""> <!--시간필드-->
        <button type="button" onclick="submitForm()">upload</button>
    </form>

    <form action="/free/articles" method="GET">
        <button class="more_info" onclick="submitForm()">더보기</button>
    </form>

    {% if posts %}
        <ul>
            {% for post in posts %}
            <li>
                <strong>{{post.title}}</strong>
                <p>{{post.content}}</p>
                <p>Writer: {{post.writer_id}}</p>
                <p>Create Date: {{post.create_date}}</p>
                
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.</p>
    {% endif %}



    
    <script>
        function submitForm() {
            // 현재 시간 생성
            var now = new Date();
            
            var formattedDate = new Intl.DateTimeFormat('en-US', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            }).format(now);
            // 폼의 timestamp 필드에 현재 시간 설정
            document.getElementById("timestamp").value = formattedDate;
        
            // 폼 제출
            document.querySelector('form').submit();
        }
    </script>
</body>
</html>