<form action="{{ request.path }}" method="POST" class="login-form">
    {{ form.csrf_token }}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Flash messages styles -->
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if request.path == '/register/' %}
        {{ form.nickname(class_="form-control", placeholder="Nickname", id="nickname") }}
        {% for error in form.nickname.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}

    {{ form.email(class_="form-control", placeholder="Email", id="email") }}
    {% for error in form.email.errors %}
        {{ error }}
    {% endfor %}

    {{ form.password(class_="form-control", placeholder="Password", id="password") }}
    {% for error in form.password.errors %}
        {{ error }}
    {% endfor %}

    {% if request.path == '/register/' %}
        {{ form.confirm_password(class_="form-control", placeholder="Confirm Password", id="confirm_password") }}
        {% for error in form.confirm_password.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}

    <button type="submit" class="btn btn-block btn-primary mb-3">
        {{ btn_action }}
    </button>

    <p>
        {% if request.path != '/register/' %}
            New here? <a href="{{ url_for('register') }}">Create account</a>
        {% else %}
            Already have an account? <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </p>
</form>
