<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/home.css" rel="stylesheet" />
</head>

<body>

    <!-- Your HTML remains unchanged -->
    <div class="Homeframe">

        <div class="Menubar">
            <div class="IconTop">
                <div class="Homeicon" id="homeIcon">
                    <img src="images/HomeIcon.svg" alt="Home Icon">
                </div>
                <div class="Estateicon" id="estateIcon">
                    <img src="images/EstateIcon.svg" alt="Estate Icon">
                </div>
                <div class="Bulltinicon" id="bulletinIcon">
                    <img src="images/BulltinIcon.svg" alt="Bulletin Icon">
                </div>
            </div>
            <div class="IconBottom">
                <div class="Profileicon" id="profileIcon">
                    <img src="images/profileicon.svg" alt="Profile Icon">
                </div>
                <div class="Settingicon" id="settingIcon">
                    <img src="images/SettingIcon.svg" alt="Setting Icon">
                </div>
            </div>
        </div>

        <div class="Menuframe">
          <div class="Titlelogo">구해봐요 성대에 집</div>
        
          <div class="Noticeframe">
            <div class="ListLine"></div>
            <div class="ListLogo">공지사항</div>
        
            <div class="Noticelistview">
              <!-- Content goes here -->
            </div>
          </div>
        </div>
    </div>
    <script src="js/home.js"></script>
</body>

</html>
