<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <title>Home Page</title> 
    
</head>

<body class ="Homeframe">
    <div>
        <div class="Menubar">
            <div class="IconTop">
                <div class="Homeicon" id="homeIcon">
                    <img src="/static/images/HomeIcon.svg" alt="Home Icon">
                </div>
                <div class="Estateicon" id="estateIcon">
                    <img src="/static/images/EstateIcon.svg" alt="Estate Icon">
                </div>
                <div class="Bulltinicon" id="bulletinIcon">
                    <img src="/static/images/BulltinIcon.svg" alt="Bulletin Icon">
                </div>
            </div>
            <div class="LogoutIcon" id="logoutIcon">
                <img src="/static/images/LogoutIcon.svg" alt="LogoutIcon">
            </div>
        </div>
        <div class="Menuframe">
            <div class="Titlelogo">구해봐요 성대에 집</div>
            <div class="Noticeframe">
                <div class="ListLine"></div>
                <div class="ListLogo">공지사항</div>
                <div class="Noticelistview">
                  <!-- Content goes here -->
                </div>
              </div>
          </div>
    </div>

    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

    
</body>

</html>
