<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/real.css') }}">
    <title>House Details</title>
</head>
<body>
    <div class="Homeframe">
        <!-- 여기는 다른 페이지들 다 가지고 있는 부분 -->
        <div class="Menubar">
            <div class="IconTop">
                <div class="Homeicon" id="homeIcon">
                    <img src="/static/images/HomeIcon.svg" alt="Home Icon">
                </div>
                <div class="Estateicon" id="estateIcon">
                    <img src="/static/images/EstateIcon.svg" alt="Estate Icon">
                </div>
                <div class="Bulltinicon" id="bulletinIcon">
                    <img src="/static/images/BulltinIcon.svg" alt="Bulletin Icon">
                </div>
            </div>
            <div class="IconBottom">
                <div class="Profileicon" id="profileIcon">
                    <img src="/static/images/profileicon.svg" alt="Profile Icon">
                </div>
                <div class="Settingicon" id="settingIcon">
                    <img src="/static/images/SettingIcon.svg" alt="Setting Icon">
                </div>
            </div>
        </div>
    

        <div class="Menuframe">
            <!-- MenuFrame 밑으로 개별화 시키기 -->
            <div class="Mainframe">
        
                <div class="PropertyDetails">
                    <div class="ImageSection">
                        <img src="{{ house.imgurl }}" alt="House Image" class="MainImage">
                    </div>
                    <div class="InfoSection">
                        <h1>{{ house.house_type }} for {{ house.pay_type }}</h1>
                        <div class="PropertyFeatures">
                            <div class="Feature">
                                <strong>특징:</strong> {{ house.feature }}
                            </div>
                            <div class="Feature">
                                <strong>방향:</strong> {{ house.direction }}
                            </div>
                            <div class="Feature">
                                <strong>층:</strong> {{ house.floor }}
                            </div>
                        </div>
                        <div class="PriceDetails">
                            <div class="Price">
                                <strong>보증금:</strong> {{ house.prc }}
                            </div>
                            <div class="Price">
                                <strong>임대료:</strong> {{ house.rentprc }}
                            </div>
                        </div>
                        <div class="SpaceDetails">
                            <div class="Space">
                                <strong>공급면적:</strong> {{ house.space1 }} m²
                            </div>
                            <div class="Space">
                                <strong>전용면적:</strong> {{ house.space2 }} m²
                            </div>
                        </div>
                        <div class="TagList">
                            <strong>Tag List:</strong>
                            {% for tag in house.taglist %}
                                #{{ tag }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                        <!-- Add other fields as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    
</body>
</html>
