<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rule</title>
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/my.css') }}" rel="stylesheet" />
</head>

<body>
    <div class = "Homeframe">
        <div class="Menubar">
            <div class="IconTop">
                <div class="Homeicon" id="homeIcon">
                    <img src="/static/images/HomeIcon.svg" alt="Home Icon">
                </div>
                <div class="Estateicon" id="estateIcon">
                    <img src="/static/images/EstateIcon.svg" alt="Estate Icon">
                </div>
                <div class="Bulltinicon" id="bulletinIcon">
                    <img src="/static/images/BulltinIcon.svg" alt="Bulletin Icon">
                </div>
            </div>
            <div class="IconBottom">
                <div class="Profileicon" id="profileIcon">
                    <img src="/static/images/profileicon.svg" alt="Profile Icon">
                </div>
                <div class="Settingicon" id="settingIcon">
                    <img src="/static/images/SettingIcon.svg" alt="Setting Icon">
                </div>
            </div>
        </div>
        <div class="Menuframe">
            <p class="title">
                게시판 정보
                <span>페이지</span>
            </p>

            <div class="body">
                <div class="profile">
                    <svg width="103" height="103" viewBox="0 0 103 103" fill="none" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="none">
                        <path
                            d="M51.5002 56.8888C60.4288 56.8888 67.6668 49.6507 67.6668 40.7221C67.6668 31.7935 60.4288 24.5554 51.5002 24.5554C42.5716 24.5554 35.3335 31.7935 35.3335 40.7221C35.3335 49.6507 42.5716 56.8888 51.5002 56.8888Z"
                            stroke="#5B5B5B" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M78.4446 78.4445C78.4446 66.535 66.3788 56.8889 51.5001 56.8889C36.6214 56.8889 24.5557 66.535 24.5557 78.4445"
                            stroke="#5B5B5B" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M83.8333 3H19.1667C10.2381 3 3 10.2381 3 19.1667V83.8333C3 92.7619 10.2381 100 19.1667 100H83.8333C92.7619 100 100 92.7619 100 83.8333V19.1667C100 10.2381 92.7619 3 83.8333 3Z"
                            stroke="#5B5B5B" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div>
                        <p>홍길동</p>
                        <span>00/00 12:00</span>
                    </div>
                </div>
                <div class="info">
                    <h3 class="sub_title">글 제목입니다.</h3>
                    <p>본문내용</p>
                    <img src="http://t1.daumcdn.net/friends/prod/editor/dc8b3d02-a15a-4afa-a88b-989cf2a50476.jpg"
                        alt="">
                </div>
                <div class="comment">
                    <div class="comment_author">
                        <svg width="40" height="40" viewBox="0 0 103 103" preserveAspectRatio="none" fill="none"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                            <path
                                d="M51.5002 56.8888C60.4288 56.8888 67.6668 49.6507 67.6668 40.7221C67.6668 31.7935 60.4288 24.5554 51.5002 24.5554C42.5716 24.5554 35.3335 31.7935 35.3335 40.7221C35.3335 49.6507 42.5716 56.8888 51.5002 56.8888Z"
                                stroke="#5B5B5B" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M78.4446 78.4445C78.4446 66.535 66.3788 56.8889 51.5001 56.8889C36.6214 56.8889 24.5557 66.535 24.5557 78.4445"
                                stroke="#5B5B5B" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M83.8333 3H19.1667C10.2381 3 3 10.2381 3 19.1667V83.8333C3 92.7619 10.2381 100 19.1667 100H83.8333C92.7619 100 100 92.7619 100 83.8333V19.1667C100 10.2381 92.7619 3 83.8333 3Z"
                                stroke="#5B5B5B" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <h3>작성자</h3>
                    </div>
                    <p>작성 내용</p>
                </div>
            </div>
        </div>
            

    </div>


    </div>


    <script>
        document
            .getElementById("nicknameForm")
            .addEventListener("submit", function (event) {
                event.preventDefault();
                var newNickname = document.getElementById("newNickname").value;
                // 여기에서 서버로 닉네임 변경 요청을 보내는 로직을 추가합니다.
                // 예: fetch('/api/change-nickname', { method: 'POST', body: newNickname })
                alert("새 닉네임: " + newNickname);
            });
    </script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>

</html>