<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet" />
  <title>Login</title>
</head>
<body>
  <div class="Homeframe">
    <div class="Menubar">
        <div class="IconTop">
            <div class="Homeicon" id="homeIcon">
                <img src="/static/images/HomeIcon.svg" alt="Home Icon">
            </div>
            <div class="Estateicon" id="estateIcon">
                <img src="/static/images/EstateIcon.svg" alt="Estate Icon">
            </div>
            <div class="Bulltinicon" id="bulletinIcon">
                <img src="/static/images/BulltinIcon.svg" alt="Bulletin Icon">
            </div>
        </div>
        <div class="IconBottom">
            <div class="Profileicon" id="profileIcon">
                <img src="/static/images/profileicon.svg" alt="Profile Icon">
            </div>
            <div class="Settingicon" id="settingIcon">
                <img src="/static/images/SettingIcon.svg" alt="Setting Icon">
            </div>
        </div>
    </div>
    <div class="Menuframe">
      <div id="formBox">
          <form method="POST" action="{{ url_for('login') }}">
              {{ form.hidden_tag() }}
              <div class="inputBox" style="top: 35px;">
                {{ form.email(placeholder=form.email.label.text, value="", id="email") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="inputBox" style="top: 110px;">
                {{ form.password(placeholder=form.password.label.text, value="", id="password") }}
                  <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                  </div>
              </div>
              <div id="loginBtn">
                  {{ form.submit }}
              </div>
          </form>
      </div>
    </div>
  </div>
</body>

</html>