<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/userauth.css/') }}" rel="stylesheet" />
    <title>Login Page</title> <!-- 여기가 첫 페이지 -->
</head>

<body>
  <div class = "Homeframe">
    <div class="Menubar">
      <div class="IconTop">
          <div class="Homeicon" id="homeIcon">
              <img src="/static/images/HomeIcon.svg" alt="Home Icon">
          </div>
          <div class="Estateicon" id="estateIcon">
              <img src="/static/images/EstateIcon.svg" alt="Estate Icon">
          </div>
          <div class="Bulltinicon" id="bulletinIcon">
              <img src="/static/images/BulltinIcon.svg" alt="Bulletin Icon">
          </div>
      </div>
      <div class="IconBottom">
          <div class="Profileicon" id="profileIcon">
              <img src="/static/images/profileicon.svg" alt="Profile Icon">
          </div>
          <div class="Settingicon" id="settingIcon">
              <img src="/static/images/SettingIcon.svg" alt="Setting Icon">
          </div>
      </div>
    </div>
    <div class="Menuframe">
  </div>
  {% if current_user.is_authenticated %}
    {# Perform the redirect using Jinja2 syntax #}
    {% set home_url = url_for('home') %}
    <script>
      window.location.href = "{{ home_url }}";
    </script>
  {% else %}
    <!-- authenticated 안되면 로그인 창-->
    <div class="background2">
    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 48px; height: 48px; position: absolute; left: 197px; top: 23px;" preserveAspectRatio="none">
      <path
        d="M47.611 24.083H46V24H28V32H39.303C37.654 36.657 33.223 40 28 40C21.373 40 16 34.627 16 28C16 21.373 21.373 16 28 16C31.059 16 33.842 17.154 35.961 19.039L41.618 13.382C38.046 10.053 33.268 8 28 8C16.955 8 8 16.955 8 28C8 39.045 16.955 48 28 48C39.045 48 48 39.045 48 28C48 26.659 47.862 25.35 47.611 24.083Z"
        fill="#FFC107"
      ></path>
      <path
        d="M10.306 18.691L16.877 23.51C18.655 19.108 22.961 16 28 16C31.059 16 33.842 17.154 35.961 19.039L41.618 13.382C38.046 10.053 33.268 8 28 8C20.318 8 13.656 12.337 10.306 18.691Z"
        fill="#FF3D00"
      ></path>
      <path
        d="M27.9999 48C33.1659 48 37.8599 46.023 41.4089 42.808L35.2189 37.57C33.1435 39.1483 30.6074 40.002 27.9999 40C22.7979 40 18.3809 36.683 16.7169 32.054L10.1949 37.079C13.5049 43.556 20.2269 48 27.9999 48Z"
        fill="#4CAF50"
      ></path>
      <path
        d="M47.611 24.083H46V24H28V32H39.303C38.5142 34.2164 37.0934 36.1532 35.216 37.571L35.219 37.569L41.409 42.807C40.971 43.205 48 38 48 28C48 26.659 47.862 25.35 47.611 24.083Z"
        fill="#1976D2"
      ></path>
    </svg>

          <div class="button1"></div>
          <form action="login">
              <button class="button1">
                  Log in with Google
              </button>
           </form>
          <div class="button2"></div>
          <form action="register">
             <button class="button2">
                   Sign up with Google
              </button>
            </form>
      </div>
     </div>
  {% endif %}

  </div>
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>
  