*{margin: 0; padding: 0; box-sizing: border-box;}

/* Main content styles */
.Menuframe {
    width: 1227px;
    height: 964px;
    position: relative;
    background: linear-gradient(180deg, #FFD233 0%, rgba(255, 210.12, 51, 0) 100%);
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: row; /* 가로로 배치 */
    margin-bottom: auto;
    justify-content: space-between; /* 양 끝으로 정렬 */
}

/* 여기서 부터 개별화  */

/* 자유게시판 */
.Bulletainhalf {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    margin-left: 20px;
}



/* top 부분 */
.wrap {
    width: 530px; /* bulletainhalf의 width에 맞춤 */
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 왼쪽과 오른쪽 끝으로 정렬 */
}

/* postbutton */
.Postbutton {
    width: 121px;
    height: 44px;
    display: flex;
    align-items: center;
    margin-top:20px; /* 세로 중앙 정렬 */
}

.Rectangle1 {
    width: 115px;
    height: 44px;
    position: absolute;
    background: #2B6653;
    border-radius: 13px;
}

.Post {
    line-height: 44px;
    width: 121px;
    height: 44px;
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: Monomaniac One;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    cursor: pointer;
}




/* 자유게시판 타이틀  */
.CategoryTitle {
    width: 127px;
    height: 38px;
    display: flex;
    align-items: center;
    margin-top: 20px; /* 세로 중앙 정렬 */
} 



.CategoryText1,
.CategoryText2 {
    font-size: 24px;
    font-family: HCR Dotum;
    font-weight: 700;
    word-wrap: break-word;
}

.CategoryText1 {
    color: #2B6653;
}

.CategoryText2 {
    color: white;
}


.InfoTitle {
    width: 175px;
    height: 40px;
    left: 121px;
    top: 0px;
    position: absolute;
    white-space: nowrap;
    color: black;
    font-size: 22px;
    font-family: HCR Dotum;
    font-weight: 700;
    word-wrap: break-word;
}

.InfoSub {
    
    white-space: nowrap;
    width: 300px;
    height: 50px;
    left: 121px;
    top: 40px;
    position: absolute;
}

.InfoSub span {
    
    
    font-size: 15px;
    font-family: HCR Dotum;
    font-weight: 700;
    
    color: #7B7B7B;
}

.InfoSub span:last-child {
    font-size: 11px;
}

/* 버튼 */
.Morebutton {
    width: 179px;
    height: 55px;
    margin-left: auto; /* 우측 여백을 최대화하여 우측 끝에 위치 */
    position: relative;
}


.MoreButtonText {
    left: 50%; /* 왼쪽 여백을 절반으로 설정 */
    top: 50%; /* 위쪽 여백을 절반으로 설정 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 트랜스폼 */
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: HCR Dotum;
    font-weight: 1200;
    word-wrap: break-word;
}


/* 거래게시판 */

.Bulletainhalf2 {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    margin-left: 20px; /* 원하는 우측 간격 설정 */
}


/* top 부분 */
.wrap {
    width: 530px; /* bulletainhalf의 width에 맞춤 */
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 왼쪽과 오른쪽 끝으로 정렬 */
}


.Rectangle1 {
    width: 115px;
    height: 44px;
    position: absolute;
    background: #2B6653;
    border-radius: 13px;
}



/* 거래게시판 타이틀  */
.CategoryTitle {
    width: 127px;
    height: 38px;
    display: flex;
    align-items: center;
    margin-top: 20px; /* 세로 중앙 정렬 */
} 



.CategoryText1,
.CategoryText2 {
    font-size: 24px;
    font-family: HCR Dotum;
    font-weight: 700;
    word-wrap: break-word;
}

.CategoryText1 {
    color: #2B6653;
}

.CategoryText2 {
    color: white;
}


.Bulletainlistview {
    width: 550px;
    height: 850px;
    margin-top: 10px;
    position: relative;
    background: #F0F0F0;
    border-radius: 37px;
    overflow: hidden;
    border: 2px solid #D8D8D8;
    padding: 15px 20px;
}




.Bulletainlistview >div {
    width: 100%;
    height: 120px;
    position: relative;
    padding: 10px 0;
    margin: 10px 0;

}

.Bulletainlistview img {
    height: 100px;
    width: 100px;
    margin-left: 5px;
    object-fit: cover;
}

.Line1,
.Line2,
.Line3,
.Line4 {
    width: 100%;
    height: 0px;
    left: 0px;
    top: 120px;
    position: absolute;
    border: 3px #AFADAD solid;
}

.InfoTitle {
    width: 175px;
    height: 40px;
    left: 121px;
    top: 0px;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: HCR Dotum;
    font-weight: 700;
    word-wrap: break-word;
}

.InfoSub {
    width: 134px;
    height: 50px;
    left: 121px;
    top: 40px;
    position: absolute;
}

.InfoSub span {
    font-size: 15px;
    font-family: HCR Dotum;
    font-weight: 700;
    word-wrap: break-word;
    color: #7B7B7B;
}

.InfoSub span:last-child {
    font-size: 11px;
}

/* 버튼 */
.Morebutton {
    width: 179px;
    height: 55px;
    background: #2B6653;
    border-top-left-radius: 48px;
    border-bottom-right-radius: 48px;
    margin-left: auto; /* 우측 여백을 최대화하여 우측 끝에 위치 */
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: HCR Dotum;
    font-weight: 1200;
    text-align: center;
    line-height: 55px;
    right: 0%;
    bottom: 3%;
}

