
.Titlelogo {
  width: 586px;
  color: black;
  font-size: 70px;
  font-family: 'HCR Dotum';
  font-weight: 700;
  word-wrap: break-word;
  margin-right: 20px;
  margin-top: 20px; /* Adjust this margin as needed */
  margin-bottom: 20px; /* Adjust this margin as needed */
  align-self: center;
}

.Noticeframe {
  width: calc(100% - 40px); /* Adjust the total width by subtracting twice the margin */
  height: 811px;
  position: relative;
  background: white;
  border-radius: 37px;
  overflow: hidden;
  margin-top: auto; /* Push the Noticeframe to the bottom */
  margin-bottom: auto;
  margin-left: 20px; /* Add left margin */
  margin-right: 20px; /* Add right margin */
}



.ListLine {
  width: 1104px;
  height: 0px;
  left: 47px;
  top: 85px;
  position: absolute;
  border: 3px #AFADAD solid;
}

.ListLogo {
  width: 180px;
  height: 38px;
  left: 56px;
  top: 36px;
  position: absolute;
  color: #2B6653;
  font-size: 31px;
  font-family: 'HCR Dotum';
  font-weight: 700;
  word-wrap: break-word;
}


.Noticelistview {
  width: 100%; /* Adjust the width to fill the Noticeframe */
  height: 689px;
  position: absolute;
  top: calc(85px + 3px + 32px); /* Set top based on ListLine position and gap */
  left: 0; /* Align to the left */
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 28px;
  padding-bottom: 28px;
  background: white;
  border-radius: 37px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  display: inline-flex;
}


/* Add more CSS styles for other elements as needed */
