.PropertyDetails {
    display: flex;
    flex-direction: column; /* Set flex container to column layout */
    align-items: center; /* Center items horizontally */
}

.ImageSection {
    margin: 20px auto; /* Add some spacing between image and other details */
}

.MainImage {
    max-width: 600px; /* Limit the image width */
    height: auto;
    display: block; /* Remove inline-block to ensure full-width */
    margin: 0 auto; /* Center the image horizontally within the container */
}

.InfoSection {
    width: 100%; /* Ensure full width of the container */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width */
}

.PropertyTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Move the table below the other details */
}

.PropertyTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

.PriceDetails,
.SpaceDetails,
.TagList {
    margin-top: 20px;
}

.Price,
.Space {
    margin-bottom: 10px;
}