body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
    background: #fff;
}

#greenBox {
    width: 1286px;
    height: 835px;
    position: absolute;
    left: 77px;
    top: 101px;
    overflow: hidden;
    border-radius: 37px;
    background: #2b6653;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.icon {
    width: 50px;
    height: 50px;
    position: absolute;
}

#icon1 {
    left: 56px;
    top: 460px;
}

#icon2 {
    left: 56.5px;
    top: 334.5px;
}

#icon3 {
    left: 58px;
    top: 58px;
}

#icon4 {
    left: 57px;
    top: 199px;
}

#icon5 {
    left: 57px;
    top: 725px;
}

.loginBox {
    width: 1100px;
    height: 788px;
    position: absolute;
    left: 162px;
    top: 33px;
    overflow: hidden;
    border-radius: 35px;
    background: linear-gradient(to bottom, #ffd233 0%, rgba(255, 210, 51, 0) 100%);
}

#formBox {
    width: 442px;
    height: 238px;
    position: absolute;
    left: 487px;
    top: 293px;
    overflow: hidden;
    border-radius: 32px;
    background: #fff;
}

.inputBox {
    margin: auto;
    padding: 0 20px;
    margin-bottom: 20px;
    position: absolute;
    left: 50px;
    width: 70%;
    box-sizing: border-box;
}

.inputBox input {
    border: 4px solid #8DC63F;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    color: grey;
}

#loginBtn {
    position: absolute;
    left: 182px;
    top: 178px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #000;
}

#loginBtn input {
    position: absolute;
    left: -30px;
    width: 149px;
    height: 47px;
    border: none;
    border-radius: 22px;
    background: #8dc63f;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}