body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}


#outBox {
  width: 1286px;
  height: 835px;
  position: relative;
  overflow: hidden;
  border-radius: 37px;
  background: #2b6653;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#insideBox {
  width: 1100px;
  height: 788px;
  position: absolute;
  left: 169px;
  top: 32px;
  overflow: hidden;
  border-radius: 35px;
  background: linear-gradient(
    to bottom,
    #ffd233 0%,
    rgba(255, 210, 51, 0) 100%
  );
}

#userBox {
  width: 1063px;
  height: 695px;
  position: absolute;
  left: 19px;
  top: 80px;
  overflow: hidden;
  border-radius: 37px;
  background: #fff;
}

#articleBox {
  width: 1029px;
  height: 386px;
  position: absolute;
  left: 15px;
  top: 300px;
  overflow: hidden;
  border-radius: 37px;
  background: #2f6956;
}

#articleInsideBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 33px;
  top: 324.5px;
  overflow: hidden;
  gap: 32px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 37px;
  background: #fff;
}

#yellowButton div {
  width: 115px;
  height: 26px;
  position: absolute;
  left: 883px;
  border-radius: 18px;
  background: #fdd234;
}

#yellowButton p {
  width: 154px;
  height: 31px;
  position: absolute;
  font-size: 16px;
  text-align: left;
  color: #000;
}

/* 인진영 추가 css */


*{margin: 0; padding: 0; box-sizing: border-box;}

.body {
  width: calc(100% - 40px); /* Adjust the total width by subtracting twice the margin */
  height: 811px;
  position: relative;
  background: white;
  border-radius: 37px;
  overflow: hidden;
  margin-top: auto; /* Push the Noticeframe to the bottom */
  margin-bottom: auto;
  margin-left: 20px; /* Add left margin */
  margin-right: 20px;
}

.title {
  height: 38px;
  position: absolute;
  left: 45px;
  top: 22px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #fff;
}

.title span {
  width: 180px;
  height: 38px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #2b6653;
}

.profile {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.profile svg {
  margin-right: 15px;
}

.profile p {
  font-weight: bold;
  font-size: 22px;
}

.profile span {
  font-size: 18px;
  color: #555;
}

.info {
  height: 400px;
}

.info img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.sub_title {
  font-size: 28px;
  line-height: 50px;
}

.comment {
  border-top: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.comment_author {
  height: 50px;
  display: flex;
  align-items: center;
}
.comment_author svg {
  margin-right: 15px;
}


.comment p {
  margin-left: 55px;
  margin-bottom: 15px;
}

.title_input {
  width: 500px;
  height: 50px;
  border: 5px solid rgb(18, 183, 37);
  margin-top: 30px;
  border-radius: 5px;
  font-size: 22px;
  padding: 0 5px;
  background-color: #f5f5f5;
}

#anonymous {

  height: 25px;
  width: 25px;
} 


.chk {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.chk span {margin-left: 10px; font-size: 18px; color: #2f6956; font-weight: bold;}

.price_input{
  border: 5px solid rgb(18, 183, 37);
  height: 40px;
  font-size: 18px;
}

.body textarea {
  width: 100%;
  height: 420px;
  resize: none;
  border: 5px solid rgb(18, 183, 37);
  margin-bottom: 10px;
  background-color: #f5f5f5;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 10px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bottom img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.bottom button {
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  border: 0;
  background-color: #2b6653;
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
}

