@import url('https://fonts.googleapis.com/css2?family=Product+Sans+KR:wght@100;300;400;500;700&display=swap');
    
*{
    box-sizing: border-box; 
    outline: none;     
}

body{
    font-family: 'Product Sans KR', sans-serif;
    font-size:20px;
    background-color: #f5f6f7;
    line-height: 1.5em;
    color : #222;
    margin: 0;
}

a{
    text-decoration: none;
    color: #222;
}

.member{
    width: 600px;
    margin: auto; 
    padding: 0 20px;
    margin-bottom: 20px;
}

.member .logo{
    display: block;
    margin :20px auto;
}

.member .field{
    margin :5px 0; 
}

.member b{
    display: block; 
    margin-bottom: 5px;
}

.member input:not(input[type=radio]),.member select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.member input[type=button],
.member input[type=submit]{
    background-color: #285C4D;
    color:#fff;
    font-size: 25px;
}

.member input:focus, .member select:focus{
    border: 1px solid #285C4D;
}

.placehold-text{
    display: block; 
    position:relative;
}

.placehold-text:before{ 
    content : "@g.skku.edu";
    position:absolute;
    right : 20px;
    top:13px;
    pointer-events: none; 
}

.userpw{
    background-size: 20px;
    background-color: #fff;
}

/* 이메일 토큰 인증 flash 리스트 점 없애기 */
ul {
    padding-left: 0;
    list-style:none;
}