<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Sign in page</title>
</head>
<body>
    
    <div class="member">
        <span class="logo material-symbols-outlined">home</span>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="field">
                <b>프로필 이미지</b>
                {{form.profile_image}}
            </div>
            <div class="invalid-feedback">
            {% if form.profile_image.errors %}
                <span style="color: red;">{{ form.profile_image.errors[0] }}</span>
            {% endif %}
            </div>
            <div class="field">
                <b>아이디</b>
                <span class="placehold-text">{{ form.email }}</span>
            </div>
            <div class="invalid-feedback">
            {% if form.email.errors %}
                <span style="color: red;">{{ form.email.errors[0] }}</span>
            {% endif %}
            </div>
            <div class="field">
                <b>비밀번호</b>
                {{ form.password(class="userpw") }}
            </div>
            {% if form.password.errors %}
                <span style="color: red;">{{ form.password.errors[0] }}</span>
            {% endif %}
            <div class="field">
                <b>비밀번호 확인</b>
                {{ form.confirm_password(class="userpw") }}
            </div>
            {% if form.confirm_password.errors %}
                <span style="color: red;">{{ form.confirm_password.errors[0] }}</span>
            {% endif %}
            <div class="field">
                <b>닉네임</b>
                {{ form.nickname }}
            </div>
            {% if form.nickname.errors %}
                <span style="color: red;">{{ form.nickname.errors[0] }}</span>
            {% endif %}
            {{ form.submit }}
        </form>
        
    </div>

</body>
</html>